<jdhm-nav-bar></jdhm-nav-bar>
<div class="container-fluid">
    <div class="row">
        <jdhm-side-bar></jdhm-side-bar>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <jdhm-main-container></jdhm-main-container>
</div>
<!--
<h1>{{title}}</h1>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="#hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<my-hero-detail [hero]="selectedHero"></my-hero-detail>
-->
