<!-- Modal -->
<div class="modal fade" id="formClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="formClientModalLabel">
                    <div *ngIf="isClientCreation">
                    New Client
                    </div>
                    <div *ngIf!="isClientCreation">
                    Client n° {{client?.id}}
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                <div *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
                <!-- Client can be undefined -->
                    <div class="input-group">
                        <span class="input-group-addon" id="firstName">First Name</span>
                        <input [(ngModel)]="client.firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="lastName">Last Name</span>
                        <input [(ngModel)]="client.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="email">Email</span>
                        <input [(ngModel)]="client.email" type="text" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="dateOfBirth">Date of Birth</span>
                        <input [(ngModel)]="client.dateOfBirth" type="text" class="form-control" id="dateOfBirth" placeholder="Date of Birth">
                    </div>
            </div>
            <div class="modal-footer">
                <button (click)="updateClient(client)" type="button" class="btn btn-primary">
                    <div *ngIf="isClientCreation">
                    Create
                    </div>
                    <div *ngIf!="isClientCreation">
                    Update
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
